@import "../../themes/variable";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  // background-color: transparent;
  transition: all 0.4s ease 0s;

  #toggle {
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    width: 100%;
    cursor: pointer;
    display: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      margin-right: 100px;
      img {
        width: 80px;
      }
    }
    .navbar {
      margin-left: 150px;
      a {
        position: relative;
        text-decoration: none;
        padding: 0 50px 0 0;
        @include text();

        &::before {
          content: "";
          position: absolute;
          height: 8px;
          width: 8px;
          background-color: $bg-c1-primary;
          bottom: -20px;
          left: 16px;
          border-radius: 50%;
          transform: scale(0);
          transition: 300ms ease all;
        }

        &:hover {
          color: $text-c1-primary;
          &::before {
            transform: scale(1, 1);
          }
        }
      }
    }
    .header__contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .contact__button {
        margin-right: 20px;
        a {
          .btn-contact {
            box-shadow: 0 0 0 3em #b61984 inset;
            align-items: center;
            @include button(
              $text-base,
              $text-semibold,
              $text-c1-light,
              $bg-transparent,
              12px 22px,
              none,
              50px,
              $bg-transparent,
              $text-c1-primary,
              1px solid #b61984
            );

            transition: all 300ms ease;
            &:hover {
              box-shadow: 0 0 0 1px inset;
            }
            p {
              font-size: 13px;
              margin-bottom: 0;
            }
          }
        }
      }
      .contact__socials {
        a {
          @include text($text-xs, $text-regular, $text-c1-dark);
          margin-left: 5px;
          text-decoration: none;

          &:hover {
            color: $text-c1-primary;
          }
        }
      }
    }
  }
}
.header.sticky {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgb(204 204 204 / 50%);
  width: 100%;
  .container {
    .logo {
      display: none;
    }
    .navbar {
      margin-left: 300px;
    }
    .header__contact {
      .contact__button {
        a {
          .btn-contact {
            box-shadow: 0 0 0 3em #b61984 inset;
            align-items: center;
            margin: 6px 0;
            @include button(
              $text-base,
              $text-semibold,
              $text-c1-light,
              $bg-transparent,
              6px 22px,
              none,
              50px,
              $bg-transparent,
              $text-c1-primary,
              1px solid #b61984
            );

            transition: all 300ms ease;
            &:hover {
              box-shadow: 0 0 0 1px inset;
            }
            p {
              font-size: 13px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1257px) {
  .header {
    max-width: 100%;
    .container {
      width: 960px;

      .navbar {
        width: 390px;
        // margin-left: 0;
        a {
          padding: 0 50px 0 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    width: 100%;
    .container {
      width: 960px;
      .logo {
        margin-right: 0;
      }
      .navbar {
        width: 390px;
        margin-left: 0;
        a {
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    position: relative;
    #toggle {
      position: fixed;
      display: block;
      top: 0;
      img {
        width: 50px;
      }
    }
    .container {
      // width: 750px;
      display: block;
      //  flex-direction: column;
      margin-top: 50px;

      .logo {
        display: none;
      }
      .navbar {
        width: 100px;
        flex-direction: column;
        display: none;
        a {
          padding: 0;
        }
      }
      .header__contact {
        display: none;
        .contact__button {
          a {
            .btn-contact {
              box-shadow: 0 0 0 3em #b61984 inset;
              align-items: center;
              @include button(
                $text-base,
                $text-semibold,
                $text-c1-light,
                $bg-transparent,
                6px,
                none,
                50px,
                $bg-transparent,
                $text-c1-primary,
                1px solid #b61984
              );

              transition: all 300ms ease;
              &:hover {
                box-shadow: 0 0 0 1px inset;
              }
              p {
                font-size: 8px;
                margin-bottom: 0;
              }
            }
          }
        }
        .contact__socials {
          a {
            i {
            }
          }
        }
      }
    }
  }
}

.carousel {
  position: relative;
  // display: block;
  top: 0;
  .carousel-top {
    position: absolute;
    left: 0;
    top: -130px;
    width: 100%;
  }
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    .detail {
      // position: absolute;
      width: 50%;
      margin-top: 55px;
      .title {
        @include text($text-base, $text-semibold, $text-c1-primary);
        margin-bottom: 0;
      }
      .des-title {
        @include text($text-6xl, $text-bold, $text-c1-dark);
      }
    }
    .thumbnail {
      width: 50%;
      top: -100px;
      position: absolute;
      right: 0;
      img {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  .carousel-bottom {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel {
    .carousel-top {
    }
    .container {
      margin-top: 100px;
      // flex-direction: column;
      height: 350px;
      .detail {
        // width: 100%;
        margin-top: 20px;
        .title {
        }
        .des-title {
          font-size: 40px;
        }
      }

      .thumbnail {
        // width: 60%;
        top: -30px;
        // left: 0;
        img {
        }
      }
    }
    .carousel-bottom {
    }
  }
}
@media only screen and (max-width: 768px) {
  .carousel {
    .carousel-top {
    }
    .container {
      margin-top: 20px;
      flex-direction: column;
      height: 400px;
      .detail {
        width: 100%;
        margin-top: 0;
        .title {
        }
        .des-title {
          font-size: 40px;
        }
      }

      .thumbnail {
        width: 60%;
        top: 50px;
        left: 0;
        img {
        }
      }
    }
    .carousel-bottom {
    }
  }
}

@media only screen and (max-width: 600px) {
  .carousel {
    .carousel-top {
    }
    .container {
      margin-top: 20px;
      flex-direction: column;
      height: 400px;
      .detail {
        width: 100%;
        margin-top: 0;
        .title {
        }
        .des-title {
          font-size: 40px;
        }
      }

      .thumbnail {
        width: 60%;
        top: 80px;
        left: 0;
        img {
        }
      }
    }
    .carousel-bottom {
    }
  }
}
@media only screen and (max-width: 480px) {
  .carousel {
    .carousel-top {
    }
    .container {
      margin-top: 20px;
      flex-direction: column;
      height: 370px;
      .detail {
        width: 100%;
        margin-top: 0;
        .title {
        }
        .des-title {
          font-size: 30px;
        }
      }

      .thumbnail {
        width: 80%;
        top: 80px;
        left: 30px;
        img {
        }
      }
    }
    .carousel-bottom {
    }
  }
}
@media only screen and (max-width: 400px) {
  .carousel {
    .carousel-top {
    }
    .container {
      margin-top: 20px;
      flex-direction: column;
      height: 370px;
      .detail {
        width: 100%;
        margin-top: 0;
        .title {
        }
        .des-title {
          font-size: 30px;
        }
      }

      .thumbnail {
        width: 80%;
        top: 80px;
        left: 30px;
        img {
        }
      }
    }
    .carousel-bottom {
    }
  }
}

.content {
  position: relative;
  background-color: $bg-c1-violet;
  .container {
    z-index: 3;
    position: relative;
    .row {
      .col {
        width: calc(100% / 4);
        flex-basis: auto;
        padding: 20px;
        .card {
          border: none;
          border-radius: 10px;
          overflow: hidden;
          &:hover {
            box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
            transition: all 300ms ease-in-out;
          }
          .card-body {
            padding: 0;

            .card-thumbnail {
              img {
                width: 100%;
                &:hover {
                  transform: scale3d(1, 1, 1);
                  -webkit-transform: scale3d(1.05, 1.05, 1.05);
                  -moz-transform: scale3d(1.05, 1.05, 1.05);
                  -ms-transform: scale3d(1.05, 1.05, 1.05);
                  transition: transform 650ms ease-in-out,
                    filter 650ms ease-in-out;
                  -webkit-transition: transform 650ms ease-in-out,
                    filter 650ms ease-in-out;
                }
              }
            }
            .card-detail {
              padding: 20px;
              text-align: center;
              transition: all 300ms ease-in-out;
              .card-title {
                @include text($text-xs, $text-semibold, $text-c1-primary);
              }
              .card-info {
                @include text($text-2xl, $text-bold, $text-c1-dark);
              }
            }
          }
        }
      }
    }
  }
  .img-bottom {
    background-position: bottom;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .content {
    .container {
      .row {
        .col {
          width: calc(100% / 2);
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .content {
    .container {
      .row {
        .col {
          width: calc(100% / 2);
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .content {
    .container {
      .row {
        .col {
          width: 100%;
        }
      }
    }
  }
}

.contact {
  padding-top: 60px;
  position: relative;
  .container {
    z-index: 5;
    position: relative;
    .row {
      .contact-img {
        width: 50%;
        margin-left: 100px;
        img {
          width: 80%;
        }
      }
      .card {
        width: 33%;
        height: 460px;
        border: none;
        .card-body {
          border-radius: 10px;
          box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
          .title {
            @include text($text-4xl, $text-bold, $text-c1-dark);
            margin-bottom: 40px;
          }
          .contact-row-1 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .contact-name {
              display: flex;
              align-items: center;
              width: 45%;
              border: 1px solid #ccc;
              border-radius: 50px;
              padding: 12px;
              font-size: 13px;
              i {
                color: #b61984;
                margin-right: 10px;
              }
              .name {
                border: none;
                width: 40%;
                &:focus-visible {
                  outline: none;
                }
              }
            }
            .contact-email {
              display: flex;
              align-items: center;
              width: 45%;
              border: 1px solid #ccc;
              border-radius: 50px;
              padding: 12px;
              font-size: 13px;
              i {
                color: #b61984;
                margin-right: 10px;
              }
              .email {
                width: 40%;
                border: none;
                &:focus-visible {
                  outline: none;
                }
              }
            }
          }
          .contact-row-2 {
            border: 1px solid #ccc;
            border-radius: 50px;
            padding: 8px;
            font-size: 13px;
            margin-bottom: 20px;
            .contact-course {
              i {
                padding: 0 2px;
                color: #b61984;
              }
              .list {
                border: none;
                width: 310px;
                &:focus-visible {
                  outline: none;
                }
              }
            }
          }
          .contact-row-3 {
            border: 1px solid #ccc;
            border-radius: 20px;
            margin-bottom: 50px;
            .contact-massage {
              display: flex;
              align-items: baseline;
              padding: 12px 0 0 12px;
              font-size: 13px;
              i {
                color: #b61984;
                margin-right: 6px;
              }
              .message {
                border: none;
                height: 60px;
                width: 100%;
                &:focus-visible {
                  outline: none;
                }
              }
            }
          }
          .contact-button {
            .btn-contact {
              box-shadow: 0 0 0 3em #b61984 inset;
              align-items: center;
              @include button(
                $text-xs,
                $text-semibold,
                $text-c1-light,
                $bg-transparent,
                12px 60px,
                none,
                50px,
                $bg-transparent,
                $text-c1-primary,
                1px solid #b61984
              );

              transition: all 300ms ease;
              &:hover {
                box-shadow: 0 0 0 1px inset;
              }
            }
          }
        }
      }
    }
  }
  .img-bottom {
    background-position: bottom;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    // width: 100%;
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    .container {
      .row {
        flex-direction: column;
        .contact-img {
          width: 80%;
        }
        .card {
          width: 100%;
          .card-body {
            .title {
            }
          }
        }
      }
    }
  }
}

.footer {
  background-image: url("../../../img/footer_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 130px;
  .container {
    position: relative;
    .row {
      .col {
        .item-1 {
          .title {
            @include text($text-3xl, $text-bold, $text-c1-light);
            margin-bottom: 22px;
          }
          .list {
            text-decoration: none;
            li {
              display: flex;
              list-style: none;

              @include text($text-xs, $text-regular, $text-c1-light);
              i {
                margin-right: 10px;
              }
            }
          }
          .footer__socials {
            a {
              i {
                @include text($text-base, $text-regular, $text-c1-light);
                margin-right: 10px;
              }
            }
          }
        }
      }
      .col {
        .item-2 {
          .title {
            @include text($text-3xl, $text-bold, $text-c1-light);
            margin-bottom: 22px;
          }
          .list {
            li {
              list-style: none;
              a {
                text-decoration: none;
                @include text($text-xs, $text-semibold, $text-c1-light);
                &:hover {
                  opacity: 0.8;
                }
              }
            }
            hr {
              width: 70px;
              margin-top: 8px;
              margin-bottom: 0;
              padding: 5px 0;
            }
          }
        }
      }
      .col {
        .item-3 {
          .title {
            @include text($text-3xl, $text-bold, $text-c1-light);
            margin-bottom: 22px;
          }
          .text-mail {
            text-align: center;
            padding: 15px 20px;
            border-radius: 50px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            // color: $text-c1-light;
            background: transparent;
            margin-bottom: 20px;
            &:focus {
              border: 1px solid rgba(255, 255, 255, 1);
            }
            &:focus-visible {
              outline: none;
              color: #fff;
            }
            &::placeholder {
              /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: #fff;
              opacity: 1; /* Firefox */
            }
          }
          .btn-subscribe {
            box-shadow: 0 0 0 3em #fff inset;
            align-items: center;
            @include button(
              $text-xs,
              $text-semibold,
              $text-c1-dark,
              $bg-c1-light,
              15px 80px,
              none,
              50px,
              $bg-transparent,
              $text-c1-light,
              1px solid #fff
            );

            transition: all 300ms ease;
            &:hover {
              box-shadow: 0 0 0 1px inset;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    height: 820px;
    .container {
      .row {
        .col {
          width: calc(100% / 2);
          flex-basis: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    .container {
      .row {
        .col {
          width: calc(100% / 2);
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    height: 1200px;
    .container {
      .row {
        .col {
          width: 100%;
        }
      }
    }
  }
}
